@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif; }

body {
  margin: 0;
  padding: 0;
  background-color: #747474; }

.navigation__logo {
  width: 100px;
  height: 60px;
  position: fixed;
  border-radius: 5%; }

.navigation__list {
  background-color: #08a021;
  margin: 0 30px;
  padding: 0 100px;
  width: 100%;
  height: 60px;
  color: white;
  flex-direction: row;
  display: flex;
  align-items: center; }

.navigation__link {
  padding: 0 30px;
  list-style-type: none;
  display: flex;
  position: relative; }

.navigation__category {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center; }

.navigation__link:hover,
.navigation__link:focus-within {
  color: #014e01;
  background-color: #0bca2b;
  border-radius: 5%;
  align-items: center;
  height: 100%; }

.navigation__link:focus-within .navigation__category {
  outline: none; }

.navigation__list .navigation__link .navigation__subnav {
  background: #08a021;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none; }

.navigation__list .navigation__link:hover > .navigation__subnav,
.navigation__list .navigation__link:focus-within > .navigation__subnav,
.navigation__list .navigation__link .navigation__subnav:hover,
.navigation__list .navigation__link .navigation__subnav:focus {
  visibility: visible;
  opacity: 1;
  display: block;
  border-radius: 3%;
  list-style-type: none;
  justify-content: left;
  text-align: left; }

.navigation__link:hover .navigation__subnav {
  display: block;
  top: 44px; }

.navigation__subnav-item {
  padding: 10px 20px; }

.navigation__subnav-link {
  text-decoration: none;
  color: white;
  margin-right: 12px;
  padding: 10px; }

.navigation__subnav-link:hover {
  background-color: #0bca2b; }

.main__splash {
  height: 100vh;
  background-image: url("/img/background-stadium.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: static; }
