@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import "./sass/_colors.scss";

$main-font: "Source Sans Pro", sans-serif;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin:0;
}

body {
	background-color: $background-color;
}

.navigation__logo {
	width: 100px;
	position: fixed;
	border-radius: 5%;
	padding: 0;
	margin-left: 30px;
	top: 0;
	z-index: 2;
}

.navigation {
	background-color: $main-color;
	position: fixed;
	width: 100%;
	z-index: 1;
	font-family: $main-font;
}

.navigation__list {
	margin: 0 30px;
	padding: 0 100px;
	width: 100%;
	height: 60px;
	color: $font-light;
	display: flex;
	align-items: center;
}

.navigation__link {
	padding: 0 30px;
	list-style-type: none;
	display: flex;
	position: relative;
	padding: 20px;
	margin-left: 10px;
}

.navigation__category {
	color: $font-light;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.navigation__link:hover,

.navigation__link:focus-within {
	color: $hover-color;
	background-color: #0bca2b;
	border-radius: 5%;
	align-items: center;
}

.navigation__subnav {
	background: $main-color;
 	visibility: hidden;
	opacity: 0;
	min-width: 5rem;
	position: fixed;
	transition: all 0.5s ease;
	margin-top: 1rem;
	padding: 0;
	display: none;
	font-family: $main-font;
}

.navigation__link:hover > ul,
.navigation__link:focus-within > ul,
.navigation__subnav:hover,
.navigation__subnav:focus {
	visibility: visible;
	opacity: 1;
	display: block;
	border-radius: 3%;
	list-style-type: none;
	background-color: green;
}

.navigation__link:hover .navigation__subnav {
	display: block;
	top: 44px;
}

.navigation__subnav-item {
	padding: 0;
	margin: 0;
}

.navigation__subnav-link {
	text-decoration: none;
	color: $font-light;
	margin-right: 12px;
	padding: 20px;
	display: block;
	margin: 0;
}

.navigation__subnav-link:hover {
	background-color: #0bca2b;
}

.main__splash {
	padding: 0;
	margin: 0;
	z-index: -1;
	position: relative;
}

.main__header {
	text-align: center;
	color: $font-light;
	font-size: 80px;
	background-color: black;
	opacity: 80%;
	box-shadow: 10px 10px 5px black;
	z-index: 3;
	position: relative;
	display: block;
	align-items: center;
	margin: 0;
	padding:0;
	top: 350px;
	font-family: $main-font;
}

.main__img {
	width: 100%;
	background-position: center;
	position: relative;
	top: -42px;
}

.end-page__list {
	padding: 0;
	width: 100%;
	color: $font-light;
	text-align: center;
	display: inline-block;
	align-items: center;
	text-decoration: none;
	list-style-type: none;
}

.end-page__link {
	display: inline-block;
	margin: 0 30px;
	font-size: 16px;
}

.fab {
	font-size: 60px;
    border: 60px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
	color:white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;  
}
.end-page__container {
	align-items: center;
	position: relative;
}
.end-page__form {
	background-color: $main-color;
	margin: 50px auto;
	max-width: 420px;
	display: flex;
	flex-direction: column;
	color: white;
}

.end-page__input {
	color: white;
	font-family: $main-font;
	font-weight: 500;
	font-size: 18px;
	border-radius: 5%;
	line-height: 20px;
	background-color: transparent;
	border: 2px solid white;
	transition: all 0.3s;
	width: 100%;
	margin: 15px;
	padding: 15px;
	box-sizing: border-box;
	outline: 0;
}

.end-page__input:focus {
	border: 2px solid white;
	color: white;
}

textarea {
	height: 150px;
	line-height: 150%;
	color: white;
	resize: vertical;
}

.end-page__button {
	width: 100%;
	background:green;
	border-radius:5px;
	border:0;
	cursor:pointer;
	color:white;
	font-size:24px;
	padding-top:10px;
	padding-bottom:10px;
	transition: all 0.3s;
	margin-top:-4px;
	font-weight:700;
}

.end-page__button:hover {
	background: #0bca2b;
}