@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import "./sass/_colors.scss";

$main-font: "Source Sans Pro", sans-serif;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: $background-color;
}

.navigation__logo {
	width: 100px;
	position: fixed;
	border-radius: 5%;
	padding: 0;
	margin-left: 30px;
	z-index: 2;
	top: 15px;
}

.navigation {
	background-color: $main-color;
	position: fixed;
	width: 100%;
	z-index: 1;
	font-family: $main-font;
}

.navigation__list {
	margin: 0 30px;
	padding: 0 100px;
	width: 100%;
	height: 60px;
	color: $font-light;
	display: flex;
	align-items: center;
}

.navigation__link {
	padding: 0 30px;
	list-style-type: none;
	display: flex;
	position: relative;
	padding: 20px;
	margin-left: 10px;
}

.navigation__category {
	color: $font-light;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.navigation__link:hover,
.navigation__link:focus-within {
	color: $hover-color;
	background-color: #89e093;
	border-radius: 5%;
	align-items: center;
}

.navigation__subnav {
	background: $main-color;
	visibility: hidden;
	opacity: 0;
	min-width: 5rem;
	position: fixed;
	transition: all 0.5s ease;
	margin-top: 1rem;
	padding: 0;
	display: none;
	font-family: $main-font;
}

.navigation__link:hover > ul,
.navigation__link:focus-within > ul,
.navigation__subnav:hover,
.navigation__subnav:focus {
	visibility: visible;
	opacity: 1;
	display: block;
	border-radius: 3%;
	list-style-type: none;
	background-color: #4bde5d;
}

.navigation__link:hover .navigation__subnav {
	display: block;
	top: 44px;
}

.navigation__subnav-item {
	padding: 0;
	margin: 0;
}

.navigation__subnav-link {
	text-decoration: none;
	color: $font-light;
	margin-right: 12px;
	padding: 20px;
	display: block;
	margin: 0;
}

.navigation__subnav-link:hover {
	background-color: #0e961e;
}

.main__splash {
	padding: 0;
	margin: 0;
	position: relative;
}

.main__img {
	width: 100%;
	background-position: center;
}

.header-with-range {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-direction: column;
}

.main__header {
	text-align: center;
	color: $font-light;
	font-size: 80px;
	background-color: black;
	opacity: 80%;
	box-shadow: 10px 10px 5px black;
	display: block;
	align-items: center;
	margin: 0;
	padding: 0;
	font-family: $main-font;
}

.range-slider {
	-webkit-appearance: none;
	// background: #000;
	height: 50px;
	width: 100%;

	&::-webkit-slider-thumb {
		font-family: "Font Awesome 5 Free";
		-webkit-appearance: none;
		background: $main-color;
		background-image: url(../img/futbol-solid.svg);
		height: 20px;
		width: 20px;
		border-radius: 50%;
		transform: translate(0, -7px);

		content: "\f061";
	}
	&::-webkit-slider-runnable-track {
		background-color: blue;
		height: 5px;
	}
}

.range-wrapper {
	width: 400px;
	padding: 0;
	margin: 0;
}

.range-scale {
	display: flex;
	justify-content: space-between;
}

.article__col {
	flex-basis: 33.3%;
	font-family: $main-font;
	margin: 10px 20px;
}

.article__row {
	display: flex;
	align-items: center;
	width: 100%;
	background: linear-gradient(to right, $main-color, $hover-color);
}


.article__header {
	color: #fff;
	margin-bottom: 20px;
}

.article__paragraph {
	color: #fff;
	margin-bottom: 30px;
}

.article__link {
	text-decoration: none;
}

.list__article-row {
	display: flex;
	align-items: flex-start;
	width: 100%;
}

.list__article-col1 {
	margin: 20px 20px;
	position: -webkit-sticky;
	position: sticky;
	top: 70px;
}

.list__article-col {
	right:20px;
}

.list__article-header-without-img {
	background: #4bde5d;
	display: flex;
	justify-content: center;
	color: #fff;
	border-radius: 5px;
}

.list__article {
	list-style-type: none;
	margin: 10px 30px 10px 30px;
	padding: 10px 10px 10px 10px;
	background: $hover-color;
	box-shadow: 2px 2px 2px 2px #4bde5d;
	border-radius: 5px;
}

.list__article-figure {
	right: 20px;
}

.list__article-item {
	font-family: $main-font;
	font-size: 30px;
}

.list__article-link {
	text-decoration: none;
	color: #fff;
}

.list__article-paragraph-without-img {
	font-family: $main-font;
}

.list__article-item-with-img {
	font-weight: 600;
	font-family: $main-font;
	font-size: 30px;
	color: #fff;
	background: $hover-color;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px;
	width: 320px;
}

.list__article-with-img {
	list-style-type: none;
}

.list__article-header-link {
	list-style-type: none;
	text-decoration: none;
}

.list__article-link-image {
	text-decoration: none;
	margin: 0 10px;
}

.list__article-paragraph-with-img {
	color: #fff;
	background: $main-color;
	width: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px;
	width: 320px;
}

.gallery__row {
	display: flex;
	align-items: center;
	width: 100%;
	background: linear-gradient(to left, $main-color, $second-color);
}

.gallery__col {
	flex-basis: 50%;
	font-family: $main-font;
}

.gallery__header {
	font-size: 40px;
	margin: 30px 0 10px 50px;
	text-shadow: 3px 2px 2px #0e961e;
	text-decoration: underline #780b2b;
}

.gallery__paragraph {
	line-height: 1.7;
	margin: 0 100px 10px 50px;
	background-color: #780b2b;
	border-radius: 2%;
	color: #fff;
	padding: 10px 10px;
	opacity: 0.8;
	box-shadow: 2px 3px 2px 2px #0e961e;
	margin-bottom: 30px;
}

figure {
	text-align: center;
}

.gallery__col-photo {
	display: flex;
	flex-direction: row;
	color: #fff;
}

.gallery__photo {
	display: flex;
	width: 110px;
}

.gallery__nations {
	height: 50px;
	width: 80px;
	transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.gallery__nations:hover {
	height: 60px;
	width: 90px;
}

.gallery__link {
	text-decoration: none;
	color: #fff;
}

footer {
	width: 100%;
	position: relative;
	bottom: 0;
	background: linear-gradient(to right, #780b2b, #0e961e);
	color: #fff;
	padding: 100px 0 30px;
	border-top-right-radius: 125px;
	font-size: 14px;
	line-height: 20px;
	font-family: $main-font;
}

.footer__logo {
	width: 150px;
	margin-bottom: 15px;
}

.footer__row {
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.footer__col {
	flex-basis: 25%;
	padding: 10px;
}

.footer__header {
	width: fit-content;
	margin-bottom: 40px;
}

.footer__adress {
	margin-bottom: 12px;
}

.footer__email {
	color: #fff;
	width: fit-content;
	margin-bottom: 12px;
}

.footer__mobile {
	text-decoration: none;
	color: #fff;
}

.footer__list {
	list-style-type: none;
}

.footer__list-item {
	margin-bottom: 10px;
}

.footer__item-link {
	text-decoration: none;
	color: #fff;
}

form {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 15px;
	border-bottom: 2px solid #fff;
	margin-bottom: 50px;
}

form .far {
	font-size: 20px;
	margin-right: 10px;
}

form input {
	width: 100%;
	background: transparent;
	color: #fff;
	border: 0;
	outline: none;
}

form button {
	background: transparent;
	border: 0;
	outline: none;
	color: #fff;
}

.footer__social-media {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.fab {
	margin: 0 15px;
	font-size: 25px;
	background-color: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	color: #000;
	text-align: center;
}
// thumb ma być piłką nożną (background) fa? dodać przez css
//kurs ux
// zmniejszyć ikony
// pętle w sass
@media (max-width: 1366px) {
    
}

@media (max-width: 1024px) {
    .article__row {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 768px) {

	.navigation {
		background: #0e961e;
		position: static;
		display: flex;
		text-align: justify;
		justify-content: center;
	}

	 .navigation__list {
		display: inline-block;
		height: 240px;
	}

	.navigation__link {
		display: flex;
		justify-content: center;
	}

	.main__splash {
		display: none;
	}

	.article__row {
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
	}

	.list__article-col1 {
		display: flex;
		flex-direction: column;
		position: absolute;
		margin-top: 5100px;
	}

	.list__article-col {
		margin-left: 50px;
		left: 40px;
		margin-bottom: 1300px;
	}

	.gallery__col-photo {
		display: flex;
		flex-direction: column;
	}
	.gallery__photo {
		margin: 10px;
	}
	
}

@media (max-width: 500px) {
    
	.navigation {
		background: #0e961e;
		position: static;
		display: flex;
		text-align: justify;
		justify-content: center;
	}

	 .navigation__list {
		display: inline-block;
		height: 240px;
	}

	.navigation__link {
		display: flex;
		justify-content: center;
	}

	.main__splash {
		display: none;
	}

	.article__row {
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
	}

	.list__article-col1 {
		display: flex;
		flex-direction: column;
		position: absolute;
		margin-top: 5100px;
	}

	.list__article-col {
		margin-left: 50px;
		left: 40px;
		margin-bottom: 1300px;
	}

	.gallery__col-photo {
		display: flex;
		flex-direction: column;
	}
	.gallery__photo {
		margin: 10px;
	}
}